body {
    padding-top: 110px;
}

.navbar {
    padding-top: 15px;
    height: 110px;
    border-bottom: 1px solid #999;
    background: #fff;
}

.menu {
    padding-top: 5px;
    font-size: 30px;
    cursor: pointer;
}

.login {
    text-align: right;
    cursor: pointer;
    font-size: 15px;
}

.branding {
    margin: 0 auto;
    text-align: center;
}

.hidden {
    display: none;
}

.footer {
    text-align: center;
}

.navigation {
    position: fixed;
    top: 69px;
    height: 50%;
    width: 50%;
    z-index: 270;
    background: white;
    font-size: 50px;
    line-height: 75px;
    border: 1px solid #999;
}

.navigation>div {
    cursor: pointer;
    border-bottom: 1px solid #999;
    padding-left: 25px;
}

.navigation>div:hover {
    background-color: #999;
}

.btn-primary {
    color: white!important;
    background: #f7921e!important;
    border-radius: 0!important;
    border-color: #d77e1a!important;
    font-size: 15px!important;
}

.btn-primary:hover {
    color: white!important;
    background: #cc791a!important;
    border-radius: 0!important;
    border-color: #d77e1a!important;
    font-size: 15px!important;
}


/**
 * pulsing button
*/
.pulse-btn {
    cursor: pointer;
    margin: 30px 0px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

.pulse-btn>a {
    z-index: 10;
}

.pulse-btn a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #f7921e;
    min-height: 60px;
    height: auto;
    padding-top: 18px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
}

.pulse-btn .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: #f7921e75 solid 2px;
    opacity: 0.2;
}

.pulse-btn .bg {
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.1, 1.2);
        opacity: 0.5;
    }
}

/**
  *end pulse
*/

@media screen and (max-width: 768px) {
    .menu {
        display: inline;
        float: left;
        width: 33.33%;
    }
    .branding {
        display: inline;
        float: left;
        width: 33.33%;
    }
    .login {
        display: inline;
        float: left;
        width: 33.33%;
    }
}