body{
	padding-top: 70px;
}
.navbar {
	padding-top: 15px;
    height: 70px;
    border-bottom: 1px solid #999;
    background: #fff;
}
.menu {
	padding-top: 5px;
    font-size: 30px;
    cursor: pointer;
}
.login {
    text-align: right;
    cursor: pointer;
    font-size: 15px;

}
.branding {
    margin: 0 auto;
    text-align: center;
}
.hidden{
	display: none;
}
.footer{
	text-align: center;
}
.navigation {
    position: fixed;
    top: 69px;
    height: 50%;
    width: 50%;
    z-index: 270;
    background: white;
    font-size: 50px;
    line-height: 75px;
    border: 1px solid #999;
}
.navigation>div {
	cursor: pointer;
    border-bottom: 1px solid #999;
    padding-left: 25px;
}
.navigation>div:hover {
    background-color: #999;
}