

#main-image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#main-image::after {
  content: "";
  background-image: url("../img/sized-cover.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  size: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.for-hiding{
	background-color: white;
}
#title {
	border-bottom: 3px solid #60c0dd;
}
.jumbotron {
	background:transparent;
}

#sizing-addon1 {
	position: static;
	cursor: pointer;

}

@media screen and (max-width: 768px) {
  
  		
		#search-bar{
			padding-top: 49px;
		}
	    .menu {
	    	display: inline;
	    	float: left;
	    	width: 33.33%;
	    }
		.branding {
			display: inline;
	    	float: left;
	    	width: 33.33%;
		}
		.login {
			display: inline;
			float: left;	    	
			width: 33.33%;
		}		  
}

@media screen and (max-width: 600px) {
	#main-image{
		width: 600px;
	}
	#search-bar>p {
		font-size: 2vw;
		margin: 0 10% 0 2%;
	}
	#search {
		width: 75%;
		position: absolute;
		top: 55px;
	}
	#main-image::after {
	  opacity: 0.3;
	}
}

@media screen and (max-width: 530px){
	#search-bar>p {
		font-size: 3vw;
		margin: 0 20% 0 2%;
	}
	#search {
		width: 50%;
		margin-left: 16.6%;
	}
	#title{
		visibility: hidden;
	}
}

@media screen and (max-width: 475px){
	#search-bar>p {
		font-size: 3vw;
		margin: 0 40% 0 2%;
	}
	#search {
		width: 50%;
		margin-left: 8.33%;
	}
}

